
body{
       background-color: #E0E0E0;
}
ul,li{
    padding:0px;
}
a{
    text-decoration:none !important;
}
.divKapsayici{
    width:100%;
    padding:20px;
    float:left;
 
}
.divHeader{
    width:100%;
}
.divNavbar{
    width:70%;
    margin:auto;
}
.divContent{
    width:100%;
    float:left;
    margin-top:50px;
}
.divMaincontent{
    width:70%;
    margin-left:15%;
    float:left;

}
.divImage{
   max-width:385px;
    max-height: 380px;
    background-color:aquamarine;
    border-radius: 50%;
    overflow: hidden;
    margin-top:20px;
    float:left;
}
.imgMy{
   bject-position: 50% 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.divText{
    width:58%;
    float:left;
    margin-top:20px;
    margin-left:20px;
}
.textH1{
        margin: 0;
    line-height: normal;
    letter-spacing: normal;
       font: normal normal normal 80px/1.2em 'noticia text',serif;
    color: #4D4D4D;
}
.textMinimal{
         font: normal normal normal 46px/1.2em 'noticia text',serif;
    color: #4D4D4D;
}
.divCircle{
    width:58%;
    margin-top:20px;
    margin-left:20px;
    float:left;
}
.circle1{
    height: 130px;
    min-height: 18px;
    width: 130px;
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
}

.circle1 a span{
        font: normal normal normal 13px/1.4em 'open sans',sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;
    margin: calc(-1 * 0px) 0px 0;
    position: relative;
    white-space: nowrap;
}
.circle1{
    height: 130px;
    min-height: 18px;
    width: 130px;
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;
    float:left;
    margin-left:20px;
}
.red{
        position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(232, 53, 86, 1);
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(232, 53, 86, 1) 0px;
    border-radius: 50%;
    justify-content: center;
    text-align: initial;
    display: flex;
    align-items: center;
}
.red:hover{
        background-color: rgba(155, 35, 57, 1);
    border: solid rgba(155, 35, 57, 1) -5px;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
}
.yellow{
        position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   background-color: rgba(209, 201, 38, 1);
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(209, 201, 38, 1) 0px;
    border-radius: 50%;
    justify-content: center;
    text-align: initial;
    display: flex;
    align-items: center;
}
.yellow:hover{
        background-color: rgba(139, 134, 25, 1);
    border: solid rgba(139, 134, 25, 1) -5px;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;

}
.blue{
        position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
       background-color: rgba(97, 208, 212, 1);
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(97, 208, 212, 1) 0px;
    border-radius: 50%;
    justify-content: center;
    text-align: initial;
    display: flex;
    align-items: center;
}
.blue:hover{
            background-color: rgba(65, 139, 141, 1);
    border: solid rgba(65, 139, 141, 1) -5px;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
}
.circle1 a span{
        font: normal normal normal 13px/1.4em 'open sans',sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;
    margin: calc(-1 * 0px) 0px 0;
    position: relative;
    white-space: nowrap;
}
.divP{
      width:58%;
    margin-top:50px;
    margin-left:20px;
    float:left;
}
.textP{
        font: normal normal normal 13px/1.4em 'open sans',sans-serif;
    color: #4D4D4D;
}
.footer{
    width:100%;
    float:left;
  
    margin-top:20px;

}
.footerContent{
    width:100%;
    margin:auto;
  background-color: rgba(232, 53, 86, 1);
    min-height:150px;
}
.footerIcon{
    width:30%;
    margin-left:40%;
}
.fa {
  padding: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
      font-size: 40px !important;
  color: white;
}

.fa-google {
       font-size: 40px !important;
  color: white;
}

.fa-linkedin {
       font-size: 40px !important;
  color: white;
}

.fa-instagram {
       font-size: 40px !important;
  color: white;
}
